<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>heroku-s3-git-deploy</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="text-center">
					<h1>heroku-s3-git-deploy</h1>
				</div>
			</div>
		</nav>
		
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<% if (!BRANCH || !BITBUCKET_USERNAME || !BITBUCKET_PASSWORD || !AWS_REGION || !AWS_BUCKET || !AWS_ACCESS_KEY_ID || !AWS_SECRET_ACCESS_KEY) { %>
						<div class="alert alert-warning" role="alert">App is running, but missing required configuration!</div>
					<% } else if (!authenticated.bitbucket) { %>
						<div class="alert alert-danger" role="alert">Access to BitBucket was denied. Are you sure the credentials are correct?</div>
					<% } else if (!authenticated.aws) { %>
						<div class="alert alert-danger" role="alert">Access to Amazon S3 was denied. Are you sure the credentials are correct?</div>
					<% } else { %>
						<div class="alert alert-success" role="alert">App is running and has access to Amazon S3 and BitBucket!</div>
					<% } %>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<h4>
						<% if (BRANCH) { %>
							<span class="label label-success">Success</span>
						<% } else { %>
							<span class="label label-danger">Missing</span>
						<% } %>
						<div class="visible-xs">
							<br>
						</div>
						BRANCH
					</h4>
				</div>
				<div class="col-md-6">
					<% if (BRANCH) { %>
						<h4><small>Set to <span class="label label-default"><%= BRANCH %></span>.</small></h4>
					<% } else { %>
						<h4><small>You still need to set the <span class="label label-default">BRANCH</span> ENV variable.</small></h4>
					<% } %>
				</div>
			</div>
			
			<hr>
			
			<div class="row">
				<div class="col-md-6">
					<h4>
						<% if (BITBUCKET_USERNAME) { %>
							<span class="label label-success">Success</span>
						<% } else { %>
							<span class="label label-danger">Missing</span>
						<% } %>
						<div class="visible-xs">
							<br>
						</div>
						BITBUCKET_USERNAME
					</h4>
				</div>
				<div class="col-md-6">
					<% if (BITBUCKET_USERNAME) { %>
						<h4><small>Set to <span class="label label-default"><%= BITBUCKET_USERNAME %></span>.</small></h4>
					<% } else { %>
						<h4><small>You still need to set the <span class="label label-default">BITBUCKET_USERNAME</span> ENV variable.</small></h4>
					<% } %>
				</div>
			</div>
			
			<hr>
			
			<div class="row">
				<div class="col-md-6">
					<h4>
						<% if (BITBUCKET_PASSWORD) { %>
							<span class="label label-success">Success</span>
						<% } else { %>
							<span class="label label-danger">Missing</span>
						<% } %>
						<div class="visible-xs">
							<br>
						</div>
						BITBUCKET_PASSWORD
					</h4>
				</div>
				<div class="col-md-6">
					<% if (BITBUCKET_PASSWORD) { %>
						<h4><small>ENV variable is set, but it's a secret!</small></h4>
					<% } else { %>
						<h4><small>You still need to set the <span class="label label-default">BITBUCKET_PASSWORD</span> ENV variable.</small></h4>
					<% } %>
				</div>
			</div>
			
			<hr>
			
			<div class="row">
				<div class="col-md-6">
					<h4>
						<% if (AWS_REGION) { %>
							<span class="label label-success">Success</span>
						<% } else { %>
							<span class="label label-danger">Missing</span>
						<% } %>
						<div class="visible-xs">
							<br>
						</div>
						AWS_REGION
					</h4>
				</div>
				<div class="col-md-6">
					<% if (AWS_REGION) { %>
						<h4><small>Set to <span class="label label-default"><%= AWS_REGION %></span>.</small></h4>
					<% } else { %>
						<h4><small>You still need to set the <span class="label label-default">AWS_REGION</span> ENV variable.</small></h4>
					<% } %>
				</div>
			</div>
			
			<hr>
			
			<div class="row">
				<div class="col-md-6">
					<h4>
						<% if (AWS_BUCKET) { %>
							<span class="label label-success">Success</span>
						<% } else { %>
							<span class="label label-danger">Missing</span>
						<% } %>
						<div class="visible-xs">
							<br>
						</div>
						AWS_BUCKET
					</h4>
				</div>
				<div class="col-md-6">
					<% if (AWS_BUCKET) { %>
						<h4><small>Set to <span class="label label-default"><%= AWS_BUCKET %></span>.</small></h4>
					<% } else { %>
						<h4><small>You still need to set the <span class="label label-default">AWS_BUCKET</span> ENV variable.</small></h4>
					<% } %>
				</div>
			</div>
			
			<hr>
			
			<div class="row">
				<div class="col-md-6">
					<h4>
						<% if (AWS_ACCESS_KEY_ID) { %>
							<span class="label label-success">Success</span>
						<% } else { %>
							<span class="label label-danger">Missing</span>
						<% } %>
						<div class="visible-xs">
							<br>
						</div>
						AWS_ACCESS_KEY_ID
					</h4>
				</div>
				<div class="col-md-6">
					<% if (AWS_ACCESS_KEY_ID) { %>
						<h4><small>Set to <span class="label label-default"><%= AWS_ACCESS_KEY_ID %></span>.</small></h4>
					<% } else { %>
						<h4><small>You still need to set the <span class="label label-default">AWS_ACCESS_KEY_ID</span> ENV variable.</small></h4>
					<% } %>
				</div>
			</div>
			
			<hr>
			
			<div class="row">
				<div class="col-md-6">
					<h4>
						<% if (AWS_SECRET_ACCESS_KEY) { %>
							<span class="label label-success">Success</span>
						<% } else { %>
							<span class="label label-danger">Missing</span>
						<% } %>
						<div class="visible-xs">
							<br>
						</div>
						AWS_SECRET_ACCESS_KEY
					</h4>
				</div>
				<div class="col-md-6">
					<% if (AWS_SECRET_ACCESS_KEY) { %>
						<h4><small>ENV variable is set, but it's a secret!</small></h4>
					<% } else { %>
						<h4><small>You still need to set the <span class="label label-default">AWS_SECRET_ACCESS_KEY</span> ENV variable.</small></h4>
					<% } %>
				</div>
			</div>
			
			<hr>
			
			<div class="row">
				<div class="col-xs-12">
					<h3>Setup</h3>
					<ol>
						<% if (!BITBUCKET_USERNAME || !BITBUCKET_PASSWORD) { %>
							<li>Create an API Key in Bitbucket for your team and use your team name as the username and the API Key as your password in the next step.</li>
							<li>Set <span class="label label-default">BITBUCKET_USERNAME</span> and <span class="label label-default">BITBUCKET_PASSWORD</span> ENV variables to match with the username and password above.</li>
						<% } %>
						<li>
							Add a <strong>POST</strong> hook in Bitbucket that points to:<br>
							<strong><%= host %>/commit-hook</strong>
						</li>
						<li>
							Now whenever code is pushed to the <span class="label label-default"><%= BRANCH %></span> branch, it will all be copied and deployed to Amazon S3.
						</li>
					</ol>
				</div>
			</div>
			
			<hr>
			
			<div class="row">
				<div class="col-xs-12 text-center">
					<p class="text-muted">
						Powered by <a href="https://github.com/chesleybrown/heroku-s3-git-deploy">heroku-s3-git-deploy</a><br>
						Created by <a href="https://twitter.com/Chesley">@Chesley</a><br>
						<a href="http://chesleybrown.ca">chesleybrown.ca</a>
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
